name: Ubuntu Build & Test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Install libx11-dev
        run: sudo apt install libx11-dev

      - name: Install & verify OpenCV
        run: |
          cd $(go env GOPATH)/src/gocv.io/x/gocv
          make install

      - name: Build
        run: |
          go build -v ./...

      - name: Test
        run: |
          go test -v ./...
